
projectOne/cmake-build-debug/CMakeFiles/projectOne.dir/DependInfo.cmake
*.make
*.includecache
*.cmake
projectOne/cmake-build-debug/projectOne
projectOne/cmake-build-debug/Makefile
/Users/anthonycomito/Desktop/School Documents/CPSC 323/Programs/projectOne/Build
/Users/anthonycomito/Desktop/School Documents/CPSC 323/Programs/projectOne/projectOne/cmake-build-debug
/Users/anthonycomito/Desktop/School Documents/CPSC 323/Programs/projectOne/Index
/Users/anthonycomito/Desktop/School Documents/CPSC 323/Programs/projectOne/DerivedData
*.yaml
*.plist
*.d
*.dia
*.o
*.LinkFileList
*.dat
*.hmap
*.xcent
*.xcbuild
*.db
Build/Intermediates.noindex/XCBuildData/BuildDescriptionCacheIndex-4e0e17c130252afdd381ce535eb14191
Build/Intermediates.noindex/XCBuildData/PIFCache/project/PROJECT@v8_mod=1538184519_hash=a1bcd1c7619e82d078bb7104fda7848f-json
Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v8_hash=2A3CBC881E3792282EEB714B848A34C0-json
Build/Intermediates.noindex/XCBuildData/PIFCache/workspace/WORKSPACE@v8_mod=1537837223_hash=4e0e17c130252afdd381ce535eb14191_subobjects=2B55F8CD9D097C954AE75FC8DB53C245-json
Build/Products/Debug/projectOne
Build/Products/Debug/testSource1.txt
Build/Products/projectOne_macosx10.14-x86_64.xctestrun
Build/Products/Release/projectOne
Build/Products/Release/projectOne.dSYM/Contents/Resources/DWARF/projectOne
DerivedData/ModuleCache.noindex/Session.modulevalidation
DerivedData/projectOne/Build/Intermediates.noindex/XCBuildData/BuildDescriptionCacheIndex-4e0e17c130252afdd381ce535eb14191
DerivedData/projectOne/Index/DataStore/v5/records/02/_u_int32_t.h-T0PUSFV0L002
DerivedData/projectOne/Index/DataStore/v5/records/0K/_pthread_cond_t.h-PUHY1Z8NPQ0K
DerivedData/projectOne/Index/DataStore/v5/records/0S/locale-MR3EGDJ9K30S
